* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #4b4b4b;
}

ul, ol {
    list-style-position: inside; 
    padding: 0;
}

h1 {
    font-size: 2.5em;
    color: inherit;
}

h2 {
    font-size: 1.5em;
    color: inherit;
}
h3 {
    font-size: 1.2em;
    color: inherit;
}

body {
    background-color: #f4f4f4;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    background: #4b4c4d;
    color: #f1eaea;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 600px;
    margin: 10px auto;
}


.rules > ul {
    list-style-type: none;
    padding: 0;
}
li {
    line-height: 1.8;
}

footer {
    background: #acaeaf;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}